<div class="modal-dialog modal-lg modal-dialog-centered custom-modal">
  <div class="modal-content">
    <div class="modal-title d-flex justify-content-between align-items-center p-3">
      <h4 class="m-0" id="<%= modal_id %>Label"><%= t(".title") %> <%= flight.number %></h4>
      <i type="button" data-bs-dismiss="modal" aria-label="Close" class="close-icon fa-regular fa-circle-xmark"></i>
    </div>
    <div class="modal-info">
      <div class="row border-primary border-bottom py-2 mx-0">
        <!-- from -->
        <div class="col d-flex flex-column justify-content-center align-items-center border-primary border-end p-0">
          <i class="mb-1 modal-icon fa-solid fa-plane-departure"></i>
          <p class="my-0 text-center"><strong><%= flight.departure_airport.city %></strong></p>
        </div>
        <!-- distance -->
        <div class="col d-flex flex-column justify-content-center align-items-center p-0">
          <i class="mb-1 modal-icon fa-solid fa-plane"></i>
          <p class="my-0 text-center"><strong><%= flight.distance %> <%= t(".km") %></strong></p>
        </div>
        <!-- to -->
        <div class="col d-flex flex-column justify-content-center align-items-center border-primary border-start p-0">
          <i class="mb-1 modal-icon fa-solid fa-plane-arrival"></i>
          <p class="my-0 text-center"><strong><%= flight.arrival_airport.city %></strong></p>
        </div>
      </div>
      <div class="row border-primary border-bottom py-2 mx-0" style="height: ">
        <!-- airline -->
        <div class="col d-flex flex-column justify-content-center align-items-center border-primary border-end p-0">
          <img class="airline-img mt-0" src="<%= flight.airline.logo_url %>" alt="<%= flight.airline.name %>">
          <p class="my-0 text-center"><strong><%= flight.airline.name %></strong></p>
        </div>
        <!-- route -->
        <div class="col d-flex flex-column justify-content-center align-items-center p-0">
          <i class="mb-1 modal-icon fa-solid fa-route"></i>
          <p class="my-0 text-center"><strong><%= flight.departure_airport.code %> - <%= flight.arrival_airport.code %></strong></p>
        </div>
        <!-- aircraft -->
        <div class="col d-flex flex-column justify-content-center align-items-center border-primary border-start p-0">
          <img class="aircraft-img mt-0" src="<%= flight.aircraft.manufacturer_logo %>" alt="<%= flight.aircraft.manufacturer %>">
          <p class="my-0 text-center"><strong><%= flight.aircraft.name %></strong></p>
        </div>
      </div>
    </div>
    <div class="modal-map">
      <p class="mt-3 text-center">Working on flight map!</p>
    </div>
  </div>
</div>
