<%= turbo_frame_tag "flight_result" do %>
  <h2 class="text-center mb-3"><%= t(".title") %></h2>

  <% if @flight_data.is_a?(Hash) && @flight_data[:message] %>
    <h4 class="text-center text-secondary mb-3"><%= @flight_data[:message] %></h4>
  <% else %>
    <% @flight_data.each do |flight| %>
      <div class="search-flight-card p-3 mb-2">
        <div class="d-flex justify-content-between align-items-center mb-2">

          <!-- departure info -->
          <div class="d-flex justify-content-center align-items-center">
            <img class="me-xl-2 me-1" src="https://flagcdn.com/<%= flight[:departure_country_code].downcase %>.svg" alt="<%= flight[:departure_country_code] %>">
            <div class="d-flex flex-column align-items-center">
              <h4 class="my-0"><strong><%= flight[:departure_airport_code] %></strong></h4>
              <p class="my-0"><%= format_time(flight[:departure_local]) %></p>
            </div>
          </div>

          <!-- departure icon -->
          <div>
            <i class="aircraft-icon fa-solid fa-plane-departure"></i>
          </div>

          <!-- number, date, duration -->
          <div class="d-flex flex-column align-items-center">
            <p class="my-0"><%= flight[:number] %></p>
            <p class="my-0"><%= format_date(flight[:departure_local]) %></p>
            <p class="my-0"><%= format_duration(flight[:departure_utc], flight[:arrival_utc]) %></p>
          </div>

          <!-- arrival icon -->
          <div>
            <i class="aircraft-icon fa-solid fa-plane-arrival"></i>
          </div>

          <!-- arrival info -->
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center">
              <h4 class="my-0"><strong><%= flight[:arrival_airport_code] %></strong></h4>
              <p class="my-0"><%= format_time(flight[:arrival_local]) %></p>
            </div>
            <img class="ms-xl-2 ms-1" src="https://flagcdn.com/<%= flight[:arrival_country_code].downcase %>.svg" alt="<%= flight[:arrival_country_code] %>">
          </div>

        </div>

        <!-- button -->
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-8 col-12">
            <%= form_with model: Flight.new, url: flights_path, method: :post, data: { turbo: false } do |f| %>

              <div class="d-none">
                <%= f.hidden_field :number, value: flight[:number] %>
                <%= f.hidden_field :departure_airport_code, value: flight[:departure_airport_code] %>
                <%= f.hidden_field :departure_country_code, value: flight[:departure_country_code] %>
                <%= f.hidden_field :departure_utc, value: flight[:departure_utc] %>
                <%= f.hidden_field :departure_local, value: flight[:departure_local] %>
                <%= f.hidden_field :arrival_airport_code, value: flight[:arrival_airport_code] %>
                <%= f.hidden_field :arrival_country_code, value: flight[:arrival_country_code] %>
                <%= f.hidden_field :arrival_utc, value: flight[:arrival_utc] %>
                <%= f.hidden_field :arrival_local, value: flight[:arrival_local] %>
                <%= f.hidden_field :distance, value: flight[:distance] %>
                <%= f.hidden_field :airline_code, value: flight[:airline_code] %>
                <%= f.hidden_field :aircraft_model, value: flight[:aircraft_model] %>
              </div>

              <%= f.submit t(".add_flight"), class: "btn btn-info w-100 text-white", style: "font-size: 16px;" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
