<%= turbo_frame_tag "flight_result" do %>
  <div class="search-flight-card p-3">

    <h2 class="text-center mb-3"><%= t(".title") %></h2>
    <div class="d-flex justify-content-between align-items-center mb-3">

      <!-- departure info -->
      <div class="d-flex justify-content-center align-items-center">
        <img class="me-xl-2 me-1" src="https://flagcdn.com/cn.svg" alt="CN">
        <div class="d-flex flex-column align-items-center">
          <h4 class="my-0"><strong>PVG</strong></h4>
          <p class="my-0">02:00</p>
        </div>
      </div>

      <!-- departure icon -->
      <div>
        <i class="aircraft-icon fa-solid fa-plane-departure"></i>
      </div>

      <!-- number, date, duration -->
      <div class="d-flex flex-column align-items-center">
        <p class="my-0">VJ3901</p>
        <p class="my-0"><%= t(".date") %></p>
        <p class="my-0"><%= t(".duration") %></p>
      </div>

      <!-- arrival icon -->
      <div>
        <i class="aircraft-icon fa-solid fa-plane-arrival"></i>
      </div>

      <!-- arrival info -->
      <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center">
          <h4 class="my-0"><strong>SGN</strong></h4>
          <p class="my-0">05:45</p>
        </div>
        <img class="ms-xl-2 ms-1" src="https://flagcdn.com/vn.svg" alt="VN">
      </div>

    </div>

    <!-- button -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-8 col-12">
        <button class="btn btn-info w-100 text-white" style="font-size: 16px;"><%= t(".add_flight") %></button>
      </div>
    </div>
  </div>

<% end %>
